Source: headlesspi-mearm-python
Maintainer: Ben Pirt <ben.pirt@mime.co.uk>

Package: headlesspi-mearm-python
Architecture: armhf
Description: A headlesspi app to control your MeArm Pi with Python in your browser
Depends: headlesspi (>=0.1.2), mearm-control (>=0.0.7)
